---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.svelte';
import type { PostResource } from '../types'

const video: PostResource = {
	id: 1,
	title: 'Esse é meu vídeo',
	type: 'Vídeo',
	author: 'Gabriel Morishita'
}

const foto: PostResource = {
	id: 1,
	title: 'Essa é minha foto',
	type: 'Foto',
	author: 'Gabriel Morishita'
}

const post: PostResource = {
	id: 1,
	title: 'Esse é meu post',
	type: 'Post',
	author: 'Gabriel Morishita'
}
---

<Layout title="Infocatalogo">
	<main>
		<Post client:visible height={100} post={video}/>
		<br>
		<Post client:visible height={100} post={foto}/>
		<br>
		<Post client:visible height={100} post={post}/>
	</main>
</Layout>

<style>
</style>
