---
import Layout from '../layouts/Layout.astro';
import Post from '../components/post/Post.svelte';
import type { PostResource } from '../types'
import { AxiosHttpService } from '../services/http';

const picsum = new AxiosHttpService('https://picsum.photos');
const photo = await picsum.get('v2/list?page=10&limit=1');

const video: PostResource = {
	id: 1,
	title: 'Esse é meu vídeo',
	type: 'Vídeo',
	content: 'https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4',
	author: {
		id: 1,
		name: 'Gabriel Morishita',
	}
}

const foto: PostResource = {
	id: 1,
	title: 'Essa é minha foto',
	type: 'Foto',
	content: photo.data[0].download_url,
	author: {
		id: 1,
		name: 'Gabriel Morishita',
	}
}

const post: PostResource = {
	id: 1,
	title: 'Esse é meu post',
	type: 'Post',
	content: 'Meu texto genérico',
	author :{
		id: 1,
		name: 'Gabriel Morishita',
	}
}

---

<Layout title="Infocatalogo">
	<main class="flex flex-col items-center mt-5">
		<Post client:visible height={100} post={video}/>
		<br>
		<Post client:visible height={100} post={foto}/>
		<br>
		<Post client:visible height={100} post={post}/>
	</main>
</Layout>

<style>
</style>
